.dicount-container {
  background: linear-gradient(89.75deg, #ff5200 49.94%, rgba(0, 0, 0, 0) 99.78%),
    url("../../assets/chicken.png"), #ff5200;
  border-radius: 10px;
  height: 257px;
}
.discount {
  width: 80%;
}
.app-download {
  justify-content: center;
  /* margin: 0 auto; */
  margin-top: 6%;
}
.app-download img {
  height: 100px;
}

.app-download p {
  font-size: 14px;
  font-weight: 500px;
  color: #ffffff;
}

.discount-text {
  margin-top: 5%;
  width: 50%;
}
.discount-text p {
  font-size: 35px;
  font-weight: 600;
}
.al {
  /* align-items: center; */
}
.imglogo {
  height: 110px;
}
.imgcontainer {
  width: 85%;
  justify-content: flex-end;
}
